.center-div-horizontally-and-vertically {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.center-div-horizontally {
    display: flex;
    justify-content: center;
}
