.app-main-view {
  display: flex;
  flex-flow: column;
}
.app-top-menu {
  height: 6vh;
}
.app-bottom-menu {
  height: 19vh;
  background-color: grey;
}
.app-canvas {
  height: 75vh;
  background-color: #DDDDDD;
  flex-grow: 1;
}
